.main-section-about{
  min-height: calc(100vh - 80px);
  margin:0px 4.5%;
  display: flex;
  align-items: center;
  gap: 25px;
}
@media(max-width:700px){
  .main-section-about{
    flex-direction: column;
  }
}
.picture-container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:450px;
  flex: 1;
  height: 500px;
  animation: movement 1.5s forwards;
  opacity: 1;
  translate: -500px 0px;
}
.picture-container > img{
  width: 100%;
  height:100%;
  object-fit:contain;
  cursor: pointer;
}
.info-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-info-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-txt{
  color:var(--red-txt-color);
  font-size: 20px;
  font-weight: 500;
  cursor: default;
  width: fit-content;
  translate: 0px -20px;
  opacity: 0;
  animation: movement 1s forwards;
}
.heading-about{
  font-weight:500;
  font-size: 40px;
  cursor: default;
  width: fit-content;
  translate: 0px -30px;
  opacity: 0;
  animation: movement 1s forwards;
  animation-delay: 0.4s;
}
.red-line{
  height: 4px;
  background-color:var(--red-txt-color);
  width: 25%;
  border-radius: 100vw;
}
.lorem-para{
  margin: 30px 0px 40px 0px;
  cursor: default;
  width: fit-content;
  translate: 0px -20px;
  opacity: 0;
  animation: movement 1s forwards;
  animation-delay: 0.6s;
}
.bottom-info-container{
  display: flex;
  gap: 15px;
}
.projects-done-container{
  translate: -30px 0px;
  opacity: 0;
  animation: movement 1s forwards;
  animation-delay: 0.6s;
}
.clients-container{
  translate: -30px 0px;
  opacity: 0;
  animation: movement 1s forwards;
  animation-delay: 0.8s;
}
.projects-done-container,
.clients-container{
  display: flex;
  flex-direction: column;
  cursor:default;
}
.projects-num,
.clients-num{
  font-size: 40px;
  font-weight: 500;
  color: var(--red-txt-color);
}